{% extends 'base.html' %}

{% block title %}
    add pet page
{% endblock %}

{% block body %}
    <h1>ADD PET</h1>
    <div>Add page by {{ user.name }}</div>

    <h1></h1>


    <form method="POST">
        {% for input in form %}
            <div>
                {% if  input != form.save %}
                    {{ input.label }}
                {% endif %}
                {{ input }}
            </div>
        {% endfor %}
    </form>

    {% for pet in user.pets %}
        <div>
            <br>
            <div>pet id -  {{ pet.id }}</div>
            <div> pet name - {{ pet.name }}</div>
            <div>pet age - {{ pet.age }}</div>
            <div>pet type - {{ pet.type_pet }}</div>
            <div>date of create - {{ pet.date }}</div>

            <a href="{{ url_for('owners.delete_pet', id_pet = pet.id, owner_id = user.id) }}">
                <button>delete {{ pet.name }}</button>
            </a>
            <br>
        </div>
    {% endfor %}



{% endblock %}