{% extends 'base.html' %}

{% block title %}
    Owners | Page
{% endblock %}

{% block body %}

    <h1>OWNERS PAGE</h1>
    <br>
    <h2>Add Owner</h2>
    <form action="{{ url_for('owners.owners_page') }}" method="POST">
        {% for foo in form %}

            {% if  foo != form.save %}
                {{ foo.label }}
            {% endif %}

            {% if foo != form.city_owm and foo != form.save %}
                <span style="color: red"> * </span>
            {% endif %}

            {{ foo }}

            {% if foo.errors %}
                {{ foo.errors[0] }}
            {% endif %}
        {% endfor %}

    </form>
    <br>
    <h2>Owners List:</h2>

    {% for owner in owners %}
        <div>
            <div>Owner ID - {{ owner['id'] }}</div>
            <div><a href={{ url_for('owners.user_page',userID = owner['id'] ) }}> name: {{ owner['name'] }}</a></div>
            <div>age: {{ owner['age'] }}</div>
            <div>city: {{ owner['city'] }}</div>

            <div><button class="btn" style="background: red">
                <a href="{{ url_for('owners.delete_owner', id = owner['id']) }}">X</a>
            </button></div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
